.profile-pic {
    max-width: 98px;
    max-height: 98px;
}
  
.file-upload {
    display: none;
}

.circle {
    border-radius: 50% !important;
    overflow: hidden;
    width: 100px;
    height: 100px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    border: 4px solid #4157a3;
    position: relative;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.p-image {
    width: 88.7px;
    height: 31.3px;
    color: #ffffff;
    opacity: 0.55;
    background-color: #000000;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 1.9rem;
}


.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
    font-size: 1.2em;
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}